#####################################################################
# Sexball kinematic probe calibration (optional)
# Deploy scripts/medusahc_calibrate.py → ~/klipper/klippy/extras/
#####################################################################

[medusahc_calibrate]
pin: ^PB7
travel_speed: 20
spread: 4
lower_z: 0.1
speed: .5
lift_speed: 4
final_lift_z: 8
sample_retract_dist: 1
samples_tolerance: 0.03
samples_tolerance_retries: 20
samples: 8
samples_result: median
probe: probe
trigger_to_bottom_z: 0.25
probe_x: -17
probe_y: 27
probe_z: 9
probe_speed: 5000
probe_nozzle_temp: 150
park_x: 220
park_y: 220
