[save_variables]
filename: ~/printer_data/config/medusa-hc/saved_vars.saved

[gcode_macro TOOL_CFG]
# Base X for tools
variable_x_t0: -9
variable_x_t1: 48
variable_x_t2: 105
variable_x_t3: 162
variable_x_t4: 219
# Common Y
variable_y_safe: 20   # Base Y
variable_y_latch: -29 # Base Y
# Lateral X shift for SET/DROP
variable_x_shift: 9 # Right removal shift

variable_fast_accel: 7000 # Change Accel
variable_fast_speed: 200   # Change Speed
variable_open_retract_len: 7 # OPEN_MOVE retract length (mm)
variable_close_extrude_len: 3 # CLOSE extrusion length (mm)
# Brush Y
variable_y_prime: -18 # Prime Y
variable_y_brush: -18 # Brush Y
variable_x_prime_shift: 0 # Prime shift

gcode:

[gcode_macro GLOBAL_STATE]
# max_t = number of tools in this build (N). Set it manually.
variable_max_tool: 5

# Calibration move over probe (used by CALIBRATE_AND_SAVE_OFFSETS)
variable_z_probe_cal: 60.0
variable_x_probe_cal: 206.0
variable_y_probe_cal: 28.0
variable_speed_probe_cal_z: 1200
variable_speed_probe_cal_xy: 3600

#------------- Do not change ---------------

variable_layer: 0
variable_t0_probe_x: 0.0
variable_t0_probe_y: 0.0

variable_x_cur: 0.0
variable_x_cur_high: 0.0      # 150% от x_cur
variable_y_cur: 0.0
variable_y_cur_high: 0.0      # 150% от y_cur
variable_e_cur: 0.0
variable_e_cur_high: 0.0      # 150% от e_cur

variable_target_tool: -1

variable_eddy_z: 0.0

variable_error_state: 0
variable_t0_probe_z: 0.0

# Feeder latch state (for future use)
variable_feeder_open: 0       # 0 = closed, 1 = open

gcode:

[gcode_macro TOOL_STATE_0]
variable_prime_amount: 8
variable_prime_speed: 30
variable_prime_retract: 0.5
variable_prime_retract_speed: 30

variable_clean_move: 1
variable_clean_move_x: 10
variable_clean_move_y: -2
variable_clean_move_speed: 20
variable_clean_retract: 1.5
variable_clean_retract_speed: 30

variable_first_prime_flag: 1
variable_first_prime_amount: 15
variable_first_prime_speed: 15
gcode:


[gcode_macro TOOL_STATE_1]
variable_prime_amount: 8
variable_prime_speed: 30
variable_prime_retract: 0.5
variable_prime_retract_speed: 30

variable_clean_move: 1
variable_clean_move_x: 10
variable_clean_move_y: -2
variable_clean_move_speed: 20
variable_clean_retract: 1.5
variable_clean_retract_speed: 30

variable_first_prime_flag: 1
variable_first_prime_amount: 15
variable_first_prime_speed: 15
gcode:


[gcode_macro TOOL_STATE_2]
variable_prime_amount: 8
variable_prime_speed: 30
variable_prime_retract: 0.5
variable_prime_retract_speed: 30

variable_clean_move: 1
variable_clean_move_x: 10
variable_clean_move_y: -2
variable_clean_move_speed: 20
variable_clean_retract: 1.5
variable_clean_retract_speed: 30

variable_first_prime_flag: 1
variable_first_prime_amount: 15
variable_first_prime_speed: 15
gcode:


[gcode_macro TOOL_STATE_3]
variable_prime_amount: 8
variable_prime_speed: 30
variable_prime_retract: 0.5
variable_prime_retract_speed: 30

variable_clean_move: 1
variable_clean_move_x: 10
variable_clean_move_y: -2
variable_clean_move_speed: 20
variable_clean_retract: 1.5
variable_clean_retract_speed: 30

variable_first_prime_flag: 1
variable_first_prime_amount: 15
variable_first_prime_speed: 15
gcode:

[gcode_macro TOOL_STATE_4]
variable_prime_amount: 8
variable_prime_speed: 30
variable_prime_retract: 0.5
variable_prime_retract_speed: 30

variable_clean_move: 1
variable_clean_move_x: 10
variable_clean_move_y: -2
variable_clean_move_speed: 20
variable_clean_retract: 1.5
variable_clean_retract_speed: 30

variable_first_prime_flag: 1
variable_first_prime_amount: 15
variable_first_prime_speed: 15
gcode:

[gcode_macro TOOL_OFFSET]
description: Store per-tool gcode offsets

variable_t0_off_z: 0.0
variable_t0_off_x: 0.0
variable_t0_off_y: 0.0


# T1 offset:
variable_t1_off_z:  0.0
variable_t1_off_x:  0.0
variable_t1_off_y:  0.0


# T2 offset:
variable_t2_off_z:  0.0
variable_t2_off_x:  0.0
variable_t2_off_y:  0.0


# T3 offset:
variable_t3_off_z:  0.0
variable_t3_off_x:  0.0
variable_t3_off_y:  0.0

# T4 offset:
variable_t4_off_z:  0.0
variable_t4_off_x:  0.0
variable_t4_off_y:  0.0


gcode:

