[pin_watch io]
  # Logical tool state (calculated from sensors)
  # -1 = head empty (all tools on bases)
  #  0..N-1 = tool on head (T0..T{N-1})
  # -2 = error / ambiguous sensor state
  sync_toolchanger: 1
  sync_mainsail_tools: 1
  sync_mainsail_sensors: 1
  verbose: 1
  pin_e: ^!ebb:PA15
  pin_t0: ^!PG10
  pin_t1: ^!PG11
  pin_t2: ^!PG12
  pin_t3: ^!PG13
  pin_t4: ^!PG14
  debounce_delay: 0.0

[gcode_macro T0]
variable_active: 0
variable_color: ""
gcode:
    RESPOND MSG="SET T0"
    SET T=0

[gcode_macro T1]
variable_active: 0
variable_color: ""
gcode:
    RESPOND MSG="SET T1"
    SET T=1
    
[gcode_macro T2]
variable_active: 0
variable_color: ""
gcode:
    RESPOND MSG="SET T2"
    SET T=2
   
[gcode_macro T3]
variable_active: 0
variable_color: ""
gcode:
    RESPOND MSG="SET T3"
    SET T=3

[gcode_macro T4]
variable_active: 0
variable_color: ""
gcode:
    RESPOND MSG="SET T4"
    SET T=4