[delayed_gcode init_toolchanger]
initial_duration: 1
gcode:
	INITIALIZE_TOOLCHANGER

[toolchanger]
initialize_on: manual
verify_tool_pickup: False
require_tool_present: False
on_axis_not_homed: abort
pickup_gcode:
		T{tool.tool_number}
# dropoff_gcode:
#     DROP_TOOL

[tool T0]
tool_number: 0

[tool T1]
tool_number: 1

[tool T2]
tool_number: 2

[tool T3]
tool_number: 3

[tool T4]
tool_number: 4