[gcode_macro WIPE_PARK]
description: Quickly retract and move away from the print, park in rear right corner
variable_wipe_xy: 20
variable_wipe_z: 1
variable_park_z: 10
gcode:
	SAVE_GCODE_STATE NAME=WIPE_PARK
	# safe anti-stringing move coords
	{% set th = printer.toolhead %}
	{% set x_safe = th.position.x + wipe_xy * (1 if th.axis_maximum.x - th.position.x > wipe_xy else -1) %}
	{% set y_safe = th.position.y + wipe_xy * (1 if th.axis_maximum.y - th.position.y > wipe_xy else -1) %}
	{% set z_safe = [th.position.z + wipe_z, th.axis_maximum.z] | min %}
	{% set z_safe_max = [th.position.z + (park_z if printer.extruder.can_extrude else 0), th.axis_maximum.z] | min %}

	G90 ; absolute positioning
	{% if printer.extruder.can_extrude %}
		G92 E0 ; zero the extruder
		G1 E-{printer['gcode_macro _KAMP_Settings'].tip_distance} F1800 ; retract filament

		G0 X{x_safe} Y{y_safe} Z{z_safe} F20000 ; move nozzle to remove stringing
	{% endif %}

	G0 X{th.axis_maximum.x - 2} Y{th.axis_maximum.y - 2} Z{z_safe_max} F18000 ; park nozzle at rear right
	M107 ; turn off fan
	RESTORE_GCODE_STATE NAME=WIPE_PARK
