[include mainsail.cfg]

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_28001B0006504E5238363120-if00
restart_method: command

[mcu zboard]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1200370015504B5735313920-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 2700
max_z_velocity: 50
max_z_accel: 200

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

[bltouch]
sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: PA1
x_offset: -42
y_offset: -10.5

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
#endstop_pin: tmc2209_stepper_x:virtual_endstop
endstop_pin: ^!PC0
position_endstop: 0
position_max: 260
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
diag_pin: PC0
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 0
driver_SGTHRS: 60

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
position_max: 230
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
diag_pin: PC1
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 0
driver_SGTHRS: 60

[stepper_z]
step_pin: zboard:PB13
dir_pin: zboard:PB12
enable_pin: !zboard:PB14
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 250
position_min: 0
homing_speed: 15

[tmc2209 stepper_z]
uart_pin: zboard:PC11
tx_pin: zboard:PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z1]
step_pin: zboard:PB10
dir_pin: zboard:PB2
enable_pin: !zboard:PB11
microsteps: 16
rotation_distance: 8
# no endstop here - Z1 follows Z

[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 7.60
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 5 # KAMP wants fat lines
pressure_advance: 0.04
pressure_advance_smooth_time: 0.02
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PA0
control: pid
pid_kp: 28.628
pid_ki: 1.631
pid_kd: 125.604
min_temp: -100
max_temp: 310

[verify_heater extruder]
max_error: 999999

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_kp: 70.004
pid_ki: 1.225
pid_kd: 1000.176
min_temp: -100
max_temp: 130

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor mcu_zboard_temp]
sensor_type: temperature_mcu
sensor_mcu: zboard
min_temp: 0
max_temp: 100

[heater_fan hotend_fan]
pin: PB15

[fan]
pin: PC6

[virtual_sdcard]
path: /home/topi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[respond]

[pause_resume]
recover_velocity: 100

# Uncomment below to calibrate input shaper
[mcu rpi]
serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points: 62,62,20

[input_shaper]
shaper_freq_x: 84.4
shaper_type_x: 2hump_ei
shaper_freq_y: 50.4
shaper_type_y: 2hump_ei

[bltouch]
sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: PA1
x_offset: -42
y_offset: -10.5
#z_offset: 2.655

[safe_z_home]
home_xy_position: 115,115 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 10, 10
mesh_max: 200, 210
probe_count: 5,5
fade_start: 0
fade_end: 0
# probe_count: 9,9
# algorithm: bicubic

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.395
