[gcode_macro _HOME_X]
gcode:
	# Always use consistent run_current on A/B steppers during sensorless homing
	{% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
	{% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
	{% set HOME_CURRENT = 0.7 %}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

	SET_KINEMATIC_POSITION X=15 SET_HOMED=X
	G91
	G1 X-10 F1200

	M400

	G28 X

	G91
	G1 X-10 F1200

	# Set current during print
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Y]
gcode:
	# Set current for sensorless homing
	{% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
	{% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
	{% set HOME_CURRENT = 0.7 %}
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

	SET_KINEMATIC_POSITION Y=15 SET_HOMED=Y
	G91
	G1 Y-10 F1200
	
	M400

	G28 Y

	G91
	G1 Y-10 F1200

	# Set current during print
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

[gcode_macro _HOME_Z]
gcode:
	PROBE_CENTER

	G28 Z

	G1 Z30 F2000

[homing_override]
axes: xyz
gcode:
	{% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
	{% set is_paused = printer.print_stats.state == "paused" %}

	BED_MESH_CLEAR

	{% if not is_paused %}
		SET_KINEMATIC_POSITION Z=1
		G1 Z5 F1200
	{% endif %}

	{% if home_all or 'Y' in params %}
		_HOME_Y
	{% endif %}

	{% if home_all or 'X' in params %}
		_HOME_X
	{% endif %}

	{% if home_all or 'Y' in params %}
		_HOME_Y
	{% endif %}

	{% if home_all or 'X' in params %}
		_HOME_X
	{% endif %}

	{% if home_all or 'Z' in params %}
		_HOME_Z
	{% endif %}
