[gcode_macro PRINT_START]
gcode:
	SAVE_GCODE_STATE NAME=PRINT_START
	{% set extruder_temp = params.EXTRUDER | default(0) | float %}
	{% set bed_temp = params.BED | default(0) | float %}
	{% set material = params.MATERIAL | default("") %}

	{% if extruder_temp < printer.configfile.settings.extruder.min_extrude_temp %}
		{ action_raise_error("extruder temp too low") }
	{% endif %}

	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp}
	G28 home_all

	M400
	TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp * 0.9}
	SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder_temp * 0.75}
	TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp}

	# CLEAN
	PROBE_CENTER
	PROBE_EDDY_NG_TAP

	Z_TILT_ADJUST
    BED_MESH_CALIBRATE

	M400
	SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder_temp}
	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder_temp} MAXIMUM={extruder_temp + 1}

	LINE_PURGE

	RESTORE_GCODE_STATE NAME=PRINT_START

[gcode_macro PRINT_END]
gcode:
	TURN_OFF_HEATERS

	{% if not printer.pause_resume.is_paused %}
		PARK
	{% endif %}

	M400
	M107
	E_OFF
	PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
	BED_MESH_CLEAR
	RESTORE_GCODE_STATE NAME=PRINT_START

[gcode_macro PAUSE]
description: Pause the running print and park toolhead
rename_existing: _PAUSE
gcode:
	M400
	_PAUSE
	PARK

[gcode_macro RESUME]
description: Resume the running print
rename_existing: _RESUME
gcode:
	SAVE_GCODE_STATE NAME=RESUME

	{% if printer.extruder.can_extrude %}
		M83 ; relative extrusion
		G1 E{printer['gcode_macro _KAMP_Settings'].tip_distance} F2100 ; unretract filament
	{% endif %}

	RESTORE_GCODE_STATE NAME=RESUME
	_RESUME {rawparams}

[gcode_macro CANCEL_PRINT]
description: Cancel the running print and park toolhead
rename_existing: _CANCEL_PRINT
gcode:
	PRINT_END
	_CANCEL_PRINT