[gcode_macro E_OFF]
description: Disable extruder motor
gcode:
	SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0

[gcode_macro XY_OFF]
description: Disable XY motors and clear XY homing
gcode:
	SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
	SET_KINEMATIC_POSITION CLEAR_HOMED=XY

[gcode_macro PARK]
description: Move toolhead to home position
gcode:
	SAVE_GCODE_STATE NAME=PARK
	{% set z_pos = [printer.toolhead.position.z, 20] | max %}

	G90 ; absolute positioning
	G0 Z{z_pos} F600
	G0 X{printer.toolhead.axis_maximum.x - 10} Y{printer.toolhead.axis_maximum.y - 10} F6000
	RESTORE_GCODE_STATE NAME=PARK

[gcode_macro PARK_FRONT]
description: Park front center
gcode:
	_CG28
	SAVE_GCODE_STATE NAME=PARKFRONT
	{% set z_pos = printer.toolhead.axis_maximum.z / 2 %}
	G90 ; absolute positioning
	G0 Z{z_pos} F600
	G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_minimum.y + 5} F6000
	RESTORE_GCODE_STATE NAME=PARKFRONT

[gcode_macro PARK_FRONT_LOW]
description: Park front center, but low down.
gcode:
	_CG28
	SAVE_GCODE_STATE NAME=PARKFRONT
	{% set z_target = 20 %}
	{% set z_travel = [printer.toolhead.position.z, z_target] | max %}
	G90 ; absolute positioning
	G0 Z{z_travel} F600
	G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_minimum.y + 5} F6000
	G0 Z{z_target} F600
	RESTORE_GCODE_STATE NAME=PARKFRONT

[gcode_macro PARK_BED]
description: Park 15mm above center of bed
gcode:
	_CG28
	SAVE_GCODE_STATE NAME=PARKBED
	{% set z_target = 15 %}
	{% set z_travel = [printer.toolhead.position.z, z_target] | max %}
	G90 ; absolute positioning
	G0 Z{z_travel} F600
	G0 X{printer.toolhead.axis_maximum.x / 2} Y{printer.toolhead.axis_maximum.y / 2} F6000
	G0 Z{z_target} F600
	RESTORE_GCODE_STATE NAME=PARKBED

[gcode_macro PROBE_CENTER]
description: Move probe to center of bed 
gcode:
	SAVE_GCODE_STATE NAME=PROBE_CENTER

	G90
	G1 X150 Y180 F6000
	RESTORE_GCODE_STATE NAME=PROBE_CENTER

[gcode_macro CENTER]
description: Move toolhead to center of bed
gcode:
	_CG28
	SAVE_GCODE_STATE NAME=CENTER

	# --- Calculate nozzle center ---
	{% set x_mid = printer.toolhead.axis_maximum.x / 2 %}
	{% set y_mid = printer.toolhead.axis_maximum.y / 2 %}

	G90
	G1 X{x_mid} Y{y_mid} F6000
	RESTORE_GCODE_STATE NAME=CENTER

[gcode_macro FRONT]
description: Move toolhead to front
gcode:
	_CG28
	SAVE_GCODE_STATE NAME=FRONT
	G90 ; absolute positioning
	G0 X{printer.toolhead.axis_maximum.x / 2} Y0 F6000
	RESTORE_GCODE_STATE NAME=FRONT
