[gcode_macro E_OFF]
description: Disable extruder motor
gcode:
	SET_STEPPER_ENABLE STEPPER=extruder ENABLE=0

[gcode_macro XY_OFF]
description: Disable XY motors and clear XY homing
gcode:
	SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
	SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
	SET_KINEMATIC_POSITION CLEAR_HOMED=XY

[gcode_macro PARK]
description: Move toolhead to home position
gcode:
	SAVE_GCODE_STATE NAME=PARK
	{% set z_pos = [printer.toolhead.position.z, 20] | max %}

	G90 ; absolute positioning
	G0 X{printer.toolhead.axis_maximum.x - 2} Y{printer.toolhead.axis_maximum.y - 2} Z{z_pos} F18000 ; park nozzle at rear right
	RESTORE_GCODE_STATE NAME=PARK

[gcode_macro PROBE_CENTER]
description: Move probe to center of bed 
gcode:
	SAVE_GCODE_STATE NAME=PROBE_CENTER

	# --- Calculate nozzle center ---
    {% set x_mid = printer.toolhead.axis_maximum.x / 2 %}
    {% set y_mid = printer.toolhead.axis_maximum.y / 2 %}

    # --- Apply probe offsets ---
    {% set probe_x = x_mid - 0 %}
    {% set probe_y = y_mid - 25 %}

    G90
    G1 X{probe_x} Y{probe_y} F6000
	RESTORE_GCODE_STATE NAME=PROBE_CENTER

[gcode_macro CENTER]
description: Move toolhead to center of bed
gcode:
	SAVE_GCODE_STATE NAME=CENTER

	# --- Calculate nozzle center ---
    {% set x_mid = printer.toolhead.axis_maximum.x / 2 %}
    {% set y_mid = printer.toolhead.axis_maximum.y / 2 %}

    G90
    G1 X{x_mid} Y{y_mid} F6000
	RESTORE_GCODE_STATE NAME=CENTER

[gcode_macro FRONT]
description: Move toolhead to front
gcode:
	SAVE_GCODE_STATE NAME=FRONT
	G90 ; absolute positioning
	G0 X{printer.toolhead.axis_maximum.x / 2} Y0 F18000
	RESTORE_GCODE_STATE NAME=FRONT

[gcode_macro HOME_REQUEST]
gcode:
    {% set homed = printer.toolhead.homed_axes|string %}
    {% if 'x' not in homed or 'y' not in homed %}
        G28
    {% endif %}
